[2020-04-10 12:19] eddiejaoude opened #1 "Suggestion to split out large README in to smaller files"
- Still have the README, but may be with high level information and examples
- Then have a `src` folder for the more detailed docs

[2020-04-10 12:20] eddiejaoude opened #2 "Suggest build a website and/or pdf with Asciidoctor"
If/when files are split out info sections, then Asciidoctor can be used to build a website and/or PDF and can also deploy to GitHub Pages

[2020-05-08 18:49] HarshKapadia2 commented on #2
The website has been hosted at https://harshkapadia2.github.io/git_basics/ using Asciidoctor 😄
Thank you for all your help, @eddiejaoude !

[2020-05-08 18:49] #2 closed

[2020-05-08 18:50] HarshKapadia2 commented on #1
Added files to the src folder!
Will be cleaning up the README.md file soon!
Thank you, @eddiejaoude !

[2020-05-08 18:50] #1 closed

[2020-05-10 07:57] HarshKapadia2 opened #3 "Add documentation for GitHub Gist"

[2020-05-10 07:57] HarshKapadia2 opened #4 "Add documentation for GitHub Pages"

[2020-05-15 22:26] HarshKapadia2 opened #5 "Features to be added to the GitHub section."
Add the following features:
- [ ] PRs
- [ ] Issues
- [ ] CONTRIBUTING.md & contents
- [ ] README.md & contents
- [ ] Syncing a fork to the original repo.
   - Use [this](https://medium.com/@john_pels/sync-your-git-fork-to-the-original-repo-a57d5084e20e)
   - Or use [this](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/syncing-a-fork)

[2020-05-15 22:37] HarshKapadia2 opened #6 "Features to be added to the Git section."
- [ ] [Plumbing and porcelian commands](https://stackoverflow.com/a/39848551/11958552)
- [ ] To show commit SHA1 of HEAD `git rev-parse HEAD`
- [ ] `git gc --aggressive` commands.
- [ ] git lfs (large file system)
- [ ] [Removing Accidentally Committed Files From Remote History](https://dev.to/jenc/removing-accidentally-committed-files-from-remote-history-3acj)

[2020-05-15 22:47] HarshKapadia2 commented on #5
Check out GitHub 100mb file commit limit.

[2020-05-16 14:52] HarshKapadia2 opened #7 "Add the internal working of Git."
Make use of:
- [Gaurav Sen's Git video](https://www.youtube.com/watch?v=DjOk0jnqsLk
)
- [git.md gist](https://gist.github.com/HarshKapadia2/8405b5c2091ba186fc13fb89aa9505ef) (explanation of the above video)

[2020-05-17 11:53] HarshKapadia2 commented on #7
- List of commands used by Gaurav can be found [here](https://github.com/coding-parrot/projects/blob/master/git_commands.txt).

[2020-05-17 13:36] HarshKapadia2 opened #8 "Change absolute links to relative links."
- The links in the `README.md` and `CONTRIBUTING.md` files **that point to files in the repo** are absolute links rather than being relative links. Please correct them to relative links, taking care of directory levels.
- This issue is not related to external links (ie, links that go to external web sites) in those two files.
- Example of relative links:
[CONTRIBUTING.md](CONTRIBUTING.md).
`[CONTR

[2020-05-17 14:24] HarshKapadia2 opened #9 "Links to be added to `miscellaneous resources` section."
Git cheat sheet (visualiser)
- https://ndpsoftware.com/git-cheatsheet.html

Comprehensive and illustrated article
- https://medium.com/mindorks/what-is-git-commit-push-pull-log-aliases-fetch-config-clone-56bc52a3601c
- https://dev.to/lydiahallie/cs-visualized-useful-git-commands-37p1

Contribution resources
- https://eddiejaoude.github.io/book-open-source-tips/#_explore_open_source_projects
- http

[2020-05-17 14:27] HarshKapadia2 commented on #6
- [ ] [git rebase](https://www.atlassian.com/git/tutorials/rewriting-history/git-rebase)
- [ ] [Merging vs Rebasing](https://www.atlassian.com/git/tutorials/merging-vs-rebasing)
- [ ] [Create a patch file from git diff](https://medium.com/odds-team/create-a-patch-file-from-git-diff-c746be60d1e)

[2020-05-17 14:28] HarshKapadia2 commented on #6
Add all info from the following articles:
- [ ] https://medium.com/mindorks/what-is-git-commit-push-pull-log-aliases-fetch-config-clone-56bc52a3601c
- [ ] https://dev.to/lydiahallie/cs-visualized-useful-git-commands-37p1

[2020-05-17 14:32] HarshKapadia2 commented on #5
- [ ] Add [this](https://miro.medium.com/max/1400/1*-p5kuyQdT5ici6NnBPT-Vw.png
) image to the GitHub intro.

[2020-05-17 14:41] HarshKapadia2 opened #10 "Features to be added to `common mistakes and how to correct them` section."
- [ ] Add [this](http://justinhileman.info/article/git-pretty/git-pretty.png
) image.

[2020-05-17 14:44] HarshKapadia2 opened #11 "Add documentation on GitHub Actions"
- [ ] [A GitHub Learning Lab learning path - DevOps with GitHub Actions](https://lab.github.com/githubtraining/paths/devops-with-github-actions
)

[2020-05-17 14:59] HarshKapadia2 opened #12 "Change header colour or background to look distinctive."
- Check if it is possible to make the dummy commands like `git add dir/dir1_file.txt` to have **black/distinctive background**, so that it's easy to spot them if one is in hurry or already know the concept but just want to be sure to get the syntax right. [(LinkedIn post comment)](https://www.linkedin.com/feed/update/urn:li:activity:6667376161376538624?commentUrn=urn%3Ali%3Acomment%3A%28activity%3

[2020-05-17 20:22] HarshKapadia2 commented on #6
Under the `git` command in this section, add:
- [ ] `git version`
- [ ] [Git update command](https://stackoverflow.com/a/55180131/11958552)

[2020-05-17 20:43] HarshKapadia2 commented on #6
- [ ] [Atlassian article on Git submodules](https://www.atlassian.com/git/tutorials/git-submodule)

[2020-05-17 20:48] HarshKapadia2 opened #13 "Add to `What is Git?` section in `General # 1`."
The name "git" was given by Linus Torvalds when he wrote the very first version. He described the tool as "the stupid content tracker" and the name as (depending on your mood):

- random three-letter combination that is pronounceable, and not actually used by any common UNIX command. The fact that it is a mispronunciation of "get" may or may not be relevant.
- stupid. contemptible and despicable.

[2020-05-17 20:55] HarshKapadia2 opened #14 "Git SHA1 vs SHA256."
- Git is going to migrate to SHA256 from SHA1.
- [Stackoverflow article](https://stackoverflow.com/questions/28159071/why-doesnt-git-use-more-modern-sha/)

[2020-05-17 21:01] HarshKapadia2 opened #15 "Fix small markdown syntax typo."
Please remove the extra hyphen in line no. 3 of [`CONTRIBUTING.md`](../blob/master/CONTRIBUTING.md).

[2020-05-18 18:50] HarshKapadia2 commented on #11
- [ ] GitHub Marketplace

[2020-05-18 18:53] HarshKapadia2 commented on #5
- [ ] GitHub Marketplace

Add:
- [ ] #3
- [ ] #4
- [ ] #11

[2020-05-24 13:42] HarshKapadia2 commented on #7
- Use [this](https://github.com/HarshKapadia2/attendance_management) for tree and commit structure and tree.

[2020-05-26 23:48] HarshKapadia2 opened #20 "Size for pictures."
- Add a standard size to each picture.
- Format: `image::img_name.ext[size, size]`
- Size is usually `[600, 600]`, but can be tweaked as per requirements.
- [ ] Check if size negatively affects mobile view.

[2020-05-27 09:53] HarshKapadia2 commented on #7
Done!

[2020-05-27 09:53] #7 closed

[2020-05-27 09:55] HarshKapadia2 opened #21 "Add `Branches` section."
- Add `Branches` section to the `General # 2` section, after the `Internal Working of Git` sub-section.
- Use Gaurav Sen's Git video and [this](https://gist.github.com/HarshKapadia2/8405b5c2091ba186fc13fb89aa9505ef) git for some commands

[2020-06-04 13:46] HarshKapadia2 opened #22 "Add to `terms` section."
- [ ] [.gitkeep](https://stackoverflow.com/questions/7229885/what-are-the-differences-between-gitignore-and-gitkeep)

[2020-06-21 19:20] HarshKapadia2 opened #23 "Best practices for links."
- [ ] Correct hyperlinks with text as 'here' or 'this' with meaningful text. (Might have to change the structure of sentence, obviously keeping the meaning and tense the same.)
Eg:
   - [This]() is the official documentation. ❌
   - [Official documentation]() ✔️

- [ ] Remove hyperlinks on pictures.

[2020-06-21 19:30] HarshKapadia2 opened #24 "Pronoun correction in `Working Tree` sub-section."
Change pronouns in the `Working Tree` sub-section of the `Terms` section from second person ('you') to third person ('one').

Eg:
- *You* should do this. ❌
- *One* should do this. ✔️

[2020-06-21 20:00] HarshKapadia2 opened #25 "Add line in `git push` sub-section."
- Add a line at the **end** of the `git push` sub-section in the `Commands` section.
- File path: `./src/commands/git_push.adoc`
- Syntax: `'''` (Please leave a blank line above this line.)

A line like the one below will be created, indicating the end of the sub-section.

---

[2020-07-02 09:25] HarshKapadia2 commented on #5
- [ ] Check out `.editorconfig`
   - Web site: https://editorconfig.org/
   - Main repo: https://github.com/editorconfig/editorconfig.github.com
   - GitHub: https://github.com/editorconfig

[2020-07-02 09:26] HarshKapadia2 commented on #9
Suitable links from above added.

[2020-07-02 09:26] #9 closed

[2020-07-05 19:44] HarshKapadia2 commented on #5
- [ ] Check out `.gitattributes`
   - [Official Git documentation](https://www.git-scm.com/docs/gitattributes)
   - Repo with samples: https://github.com/alexkaratarakis/gitattributes

[2020-07-09 08:19] HarshKapadia2 commented on #21
- [A visualization resource for branches.](https://learngitbranching.js.org/) (Can be added to the resources section as well.)

[2020-07-11 15:21] HarshKapadia2 commented on #6
- [ ] `git revert`
- [ ] `git restore`
- [ ] `git reset`

[2020-07-11 15:23] HarshKapadia2 commented on #6
- [ ] Under `git commit`, add about the `-s` (`--signoff`) flag.
   - [Article # 1](https://stackoverflow.com/questions/1962094/what-is-the-sign-off-feature-in-git-for)
   - [Article # 2](https://dev.to/jjasghar/signing-commits-in-git-47dk)
   - Check out DCO in relation to `-s`

[2020-07-12 18:51] HarshKapadia2 opened #26 "Additions to the `General #2` section"
- [ ] Add contributing to Git
   - [Git mentoring group](https://groups.google.com/forum/#!forum/git-mentoring)
   - [GitGitGadget](https://gitgitgadget.github.io/)

[2020-07-17 14:59] HarshKapadia2 commented on #21
- [ ] Branch hierarchy
   - [Point no. 6 of this Medium article](https://medium.com/javascript-in-plain-english/7-git-commands-concepts-you-may-do-not-know-yet-d0aa9dbee7b1)
   - [Effect of hierarchy to `./.git/refs/heads` in 2nd para of this StackOverflow answer](https://stackoverflow.com/a/11051685/11958552)

[2020-07-17 15:00] HarshKapadia2 commented on #26
- [ ] Include `Branches` sub-section #21.

[2020-07-17 15:06] HarshKapadia2 commented on #6
- [ ] Add the `git cherry-pick` command.

[2020-07-17 15:39] HarshKapadia2 commented on #6
- [ ] Under `git checkout`, add the `--orphan` flag.
   - [Ref article](https://www.ithands.com/blog/advanced-git-features/#:~:text=Create%20an%20Orphan%20Branch)
   - Add the flag, give an explanation on what is does and its need.

[2020-07-17 15:47] HarshKapadia2 commented on #10
- This section can be renamed as `Gitfalls` (pitfalls) or `Git happens` (it happens), but the names aren't as easily understandable. [Source](https://about.gitlab.com/blog/2018/08/08/git-happens/)
- Use the [resources in the `README.md` file](https://github.com/HarshKapadia2/git_basics#common-mistakes-and-how-to-correct-them).

[2020-07-21 08:01] HarshKapadia2 commented on #6
- [ ] Under the `--amend` flag in `git commit`, add the `--no-edit` option.
   - Explain that files can be forgotten to be committed or be committed by mistake & add the two cases of amending a commit (to change the commit msg/descp and/or add/remove a file) to the `common mistakes and how to solve them` (#10) sub-section.

[2020-07-27 19:27] HarshKapadia2 opened #27 "Link specific parts of the git_basics livestream to every appropriate section of the web site."
- Add a link (with the timestamp of the appropriate section) of the [git_basics livestream](https://www.youtube.com/watch?v=HF12-91iazM) to the top of the appropriate section of the web site.
- All the topics and commands covered in the livestream are listed in the description of the video.
- On YouTube, click on 'share' and copy the link after checking the 'start at' checkbox (ensure that the cor

[2020-08-04 15:23] HarshKapadia2 opened #28 "All external links should open in a new tab."
- Currently, all external links (ie, links leading to web sites away from the git_basics web site itself) open in the same tab as the web site.
- All the external links should open in a separate tab.
- Implement the first method listed in the '[Links with attributes](https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#:~:text=Link%20with%20attributes)' sub-section of the Asciidoctor Synt

[2020-08-08 09:18] HarshKapadia2 opened #29 "Add icons to admonitions"
- Read up on [admonitions](https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#:~:text=Admonition) from the AsciiDoc Syntax Reference.
- The problem is that these icons are rendered in `.adoc` (Asciidoctor) files, but not in the rendered HTML file that is hosted.
Eg:

![image](https://user-images.githubusercontent.com/50140864/89706585-d3c47700-d984-11ea-8693-f49754a90af2.png)

![image](

[2020-08-08 13:01] HarshKapadia2 opened #30 "Add meta tags to the web site"
- The meta tags will have to be inserted by adding them **in the head** of a [Docinfo file](https://asciidoctor.org/docs/user-manual/#docinfo-file).
- The meta tags to be inserted

[code]

[2020-08-16 07:11] HarshKapadia2 opened #31 "Additions to the `General # 3` section."
- [ ] Myths of open source. ([Video ref](https://www.youtube.com/watch?v=Ms5NNSFcWcI))
   - Security issues
   - Monetary issues
   - Difficult to contribute
   - Only for the elite
   - Many more
- [ ] Advantages of open source.
   - Indirect value
   - Show case skill
   - Helping community
   - Many more

[2020-08-16 07:15] HarshKapadia2 commented on #5
- [ ] More info on licenses
   - https://www.youtube.com/watch?v=wyZq-EazOmU

[2020-08-17 19:54] HarshKapadia2 commented on #6
- [ ] Add a `--staged` flag to the `git diff` command.

[2020-08-20 14:40] HarshKapadia2 commented on #6
- [ ] [Co-authored commits](https://medium.com/blackode/creating-co-authored-commits-on-the-command-line-git-305ae2af9f73)

[2020-08-27 23:17] HarshKapadia2 commented on #6
- [ ] Add `set-url` option to `git remote`
   - https://www.git-scm.com/docs/git-remote

[2020-09-25 13:18] #13 closed

[2020-09-25 15:45] weiyi-m commented on #15
I'll take this one.

[2020-09-26 04:07] HarshKapadia2 commented on #15
Resolved in PR #34

[2020-09-26 04:07] #15 closed

[2020-09-26 04:08] HarshKapadia2 commented on #8
Resolved in PRs #32 and #33

[2020-09-26 04:08] #8 closed

[2020-09-27 23:01] aidanhs opened #36 "Slightly misleading statement on hashing and compression"
https://harshkapadia2.github.io/git_basics/ says

Which implied when I read it that a git hash is `sha1(zlib_compress(data))`.

However, the note a few paragraphs down corrects my misunderstanding:

Perhaps changing the original statement to something like "Git actually compresses files with the zlib library after hashing them"

[2020-09-29 05:04] Riya-code commented on #24
Can I take it?

[2020-09-29 05:10] HarshKapadia2 commented on #24
Go ahead!

[2020-09-30 20:34] Mu-C00L commented on #28
I want to work on this issue

[2020-09-30 22:08] HarshKapadia2 commented on #28
Hey @Mu-C00L, this issue requires issue #23 to be completed first. Could you handle that and then tackle this issue?

[2020-10-01 05:49] Riya-code commented on #4
@HarshKapadia2 Can you please ellaborate a bit?

[2020-10-01 08:27] Riya-code commented on #23
I would like to take it

[2020-10-02 06:45] HarshKapadia2 commented on #24
Please just make the corrections in the issue and build the `index.html` file as well.

[2020-10-02 07:23] HarshKapadia2 commented on #23
Go ahead @Riya-code. Please remember to follow the instructions in the [`CONTRIBUTING.md`](https://github.com/HarshKapadia2/git_basics/blob/master/CONTRIBUTING.md) file.

[2020-10-02 09:04] dheerajdlalwani commented on #3
Shall I take up this issue?

[2020-10-02 09:33] HarshKapadia2 commented on #4
Please cover the following questions in points (no QnA) (points can be combined):
- What is [GitHub Pages](https://pages.github.com/)?
- Is it free? (yes)
- Which type of web sites can be hosted using it? (only static web sites)
- How can one set it up? (The [official web site](https://pages.github.com/) covers this)

Feel free to add anything else related to GitHub Pages.

[2020-10-02 09:38] HarshKapadia2 commented on #4
Let me know if you are willing to take this issue up (so that I can assign you to it).

[2020-10-02 09:46] HarshKapadia2 commented on #3
Sure @dheerajdlalwani, go for it.

Please add some info on [what GitHub Gists are](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/github-glossary#gist) and some of its features (public/private - visibility and access, forking, starring, multiple files in one Gist, etc).

The file needs to be placed in the `GitHub` section of the web site.

Feel free to add anyth

[2020-10-02 12:02] Riya-code commented on #23
I think I might take a longer time. You can assign it to someone else :)

[2020-10-02 12:25] HarshKapadia2 commented on #23
Okay. Let me know if you want to do it and I'll re-assign you if someone else hasn't already taken it.

[2020-10-02 13:23] Riya-code commented on #23
ok.Thanks.

[2020-10-02 13:24] Riya-code commented on #4
Yes I can take it.

[2020-10-02 13:24] Riya-code commented on #4
Yes I can take it.

[2020-10-02 13:25] Riya-code commented on #4
Yes I can take it.

[2020-10-05 09:27] HirushaR commented on #23
I would like to take it

[2020-10-05 09:34] HirushaR commented on #28
I would like to take it

[2020-10-05 11:15] Mu-C00L commented on #28
I am working on it will soon do a PR.

[2020-10-05 13:26] HirushaR commented on #28
ok but i did a PR

On Mon, Oct 5, 2020 at 4:46 PM Mukul Mohmare <notifications@github.com>
wrote:

[2020-10-05 14:23] Mu-C00L commented on #28
ok no problem

[2020-10-06 10:17] Finbob12 commented on #25
Hi, Can I take this one?

[2020-10-06 10:29] HarshKapadia2 commented on #25
Go ahead @Finbob12!

[2020-10-06 12:34] #25 closed

[2020-10-07 19:32] HarshKapadia2 commented on #29
Thank you SO much, @KartikSoneji!

[2020-10-07 19:32] #29 closed

[2020-10-09 00:10] Rodrigue819 commented on #23
I tought I was going in to give a hand, but I think I did all of them. PR is open!

[2020-10-09 14:31] tusharnankani opened #47 "replace master by main."
Since from now on all repositories have default branch main, I think either all `master`s on the website should be replaced by `main`, or a notification on top of the page could be given for now.

[2020-10-09 14:40] HarshKapadia2 commented on #47
Till GitHub doesn't start the change, I don't think I should replace `master` with `main` everywhere in the doc.
I can definitely have a notice at the beginning of the document or something though.

Thoughts, @KartikSoneji?

[2020-10-09 14:43] tusharnankani commented on #47
Umm, it has started! For all the new repositories, the default branch is main, and it will remain master for the old ones.

[2020-10-09 15:09] KartikSoneji commented on #47
Note that the `master` to `main` change is only by GitHub, so I think you should add a note about it in the GitHub section, not anywhere else.

[2020-10-09 16:08] HarshKapadia2 commented on #47
I think the repositories that are created on GitHub with a `README.md` file or any other file initially added using the web app (as shown in the two images below) uses the `main` branch as the default branch. If no file is chosen and Git Bash is used to upload files, the default is still `master` (as shown in the third pic).

👉 Repo with no files initially added:

<img src="https://user-images.git

[2020-10-09 16:15] tusharnankani commented on #47
Alright, thank you so much for clarifying that!

I think the notice at the beginning of the webpage would work the best as of now, and for more information regarding this, you could direct them to this issue!

[2020-10-09 16:23] HarshKapadia2 commented on #47
Would you want to work on a PR for that?
If not, I'll do it. No issues. Just let me know.

[2020-10-09 18:45] tusharnankani commented on #47
I would be glad to! I will start working on it, once I get free with my online assessments.

[2020-10-09 19:02] tusharnankani commented on #47
I just went through the directories. I have never worked with _Asciidoctor_, before.

I don't have to make direct changes to the index.html, right?
If yes, which `.adoc` file do I have to make the changes to? I will figure out how to edit a `.adoc` file.

[2020-10-09 19:52] HarshKapadia2 commented on #23
The PRs for this issue are #46 and #49.

[2020-10-09 19:53] #23 closed

[2020-10-09 20:37] HarshKapadia2 commented on #47
No problem! The `CONTRIBUTING.md` file can help you get started and you can always ask me any doubts.

You don't have to make changes to the `index.html` file, but you have to generate it using Asciidoctor and make sure to generate and include it every time there is a change in any `.adoc` file.

Depends on where you want to include the message.
The `CONTRIBUTING.md` file has the [file hierarchy](

[2020-10-09 22:24] HarshKapadia2 opened #50 "Add documentation for GitHub CLI."

[2020-10-10 18:26] #28 closed

[2020-10-10 18:34] #12 closed

[2020-10-11 08:53] tusharnankani commented on #47
Hi @HarshKapadia2

![Screenshot (655)](https://user-images.githubusercontent.com/61280281/95674231-6fb07000-0bcc-11eb-9eaa-8f37e60f5c83.png)

I am planning to add the notice, before the Abstract, after the main heading - `git_basics`.
So, I will be making changes to `src/index.adoc`

Also, I will an *Admonition* - NOTE.
Let me know, any of these is to be used instead of Note^

![Screenshot (656)](

[2020-10-12 04:33] shivam7374 commented on #30
@HarshKapadia2 I want to work on this. Please assign me this Issue.

[2020-10-13 08:15] HarshKapadia2 commented on #47
Handled in PR #57 for now.

[2020-10-21 04:58] HarshKapadia2 commented on #14
- [Git's transition plan from SHA1 to SHA256](https://git-scm.com/docs/hash-function-transition/)
- [Git 2.29 experimental SHA256 support](https://github.blog/2020-10-19-git-2-29-released/)

[2020-10-21 04:59] HarshKapadia2 commented on #14
[Git 2.29 experimental SHA256 support](https://github.blog/2020-10-19-git-2-29-released/)

[2020-10-21 14:10] HarshKapadia2 commented on #6
- [ ] `git shortlog`
	- Add details on `git shortlog` from this as well: https://github.blog/2020-10-19-git-2-29-released/

[2020-11-26 09:08] HarshKapadia2 opened #58 "To be added to the `resources` section."
To the [resources section](https://harshkapadia2.github.io/git_basics/#_resources), add the following

- [x] [`Refined GitHub` browser extension](https://chrome.google.com/webstore/detail/refined-github/hlepfoohegkhhmjieoechaddaejaokhf)
- [x] [`GitZip for github` browser extension](https://chrome.google.com/webstore/detail/gitzip-for-github/ffabmkklhbepgcgfonabamgnfafbdlkn)
- [x] https://try.githu

[2020-12-01 12:46] crmsnbleyd commented on #58
Hello, I'd like to help with this issue!

[2020-12-01 12:48] HarshKapadia2 commented on #6
- [ ] Contextual `git push` and `git pull`. (Find context using `git branch`.)
	- Executing just `git push` instead of `git push origin main` to push code to the main branch.
	- Might not work the first time as the upstream is not set. Use `git push -u origin main` the first time.

[2021-01-27 09:02] HarshKapadia2 commented on #30
Solved!

[2021-01-27 09:02] #30 closed

[2021-02-14 15:33] HarshKapadia2 commented on #26
- [ ] [How to commit executable shell scripts with Git on Windows](https://www.augmentedmind.de/2020/05/10/commit-executable-shell-scripts-with-git/)

[2021-02-19 12:09] HarshKapadia2 opened #64 "Delete extra files from the 'gh-pages' branch on build."
- This repo uses GitHub Actions and has a CI/CD process that builds the web site from the `master` branch and pushes all the built files to the `gh-pages` branch from where GitHub Pages deploys the site.
	- Check [`./.github/workflows/build-website.yml`](https://github.com/HarshKapadia2/git_basics/blob/master/.github/workflows/build-website.yml) for the exact working of the CI/CD process.
- If fil

[2021-02-20 08:23] HarshKapadia2 commented on #6
- [ ] Add `git config --global init.defaultBranch <branch_name>` to the `git config` sub-section.
	- This is to combat the new default `main` branch on GitHub.
	- Add note that this is only for GitHub and might cause problems with other services like GitLab.
	- Refer to [this comment](https://github.com/HarshKapadia2/git_basics/issues/47#issuecomment-706269087) of issue #47.

[2021-02-20 21:41] HarshKapadia2 commented on #47
From [a comment above](https://github.com/HarshKapadia2/git_basics/issues/47#issuecomment-706269087):

UPDATE:
GitHub now supports renaming the default branch. Existing PRs, branch rules [and more](https://docs.github.com/en/github/administering-a-repository/renaming-a-branch) are all re-targeted automatically.
![image](https://user-images.githubusercontent.com/50140864/108609080-89bb5400-73f1-11e

[2021-02-20 21:57] HarshKapadia2 commented on #21
- [ ] Default branches
	- What are they?
	- The whole `master` vs `main` issue as explained in issue #47.

[2021-02-20 22:08] HarshKapadia2 commented on #6
- [ ]  From image below make the following changes to the `git branch` sub-section:
	- Make necessary changes to `-m` option in web site.
		- Check if what already exists is correct and accordingly make changes.
	- Add `-u` flag.
	- Add references to the branch renaming section if necessary. (The section is supposed to be added as per [a comment](https://github.com/HarshKapadia2/git_basics/issues/

[2021-02-21 06:20] HarshKapadia2 commented on #4
- [ ] Add about the `gh-pages` orphan branch
	- Check if the branch HAS to be named that.
	- Need
	- Creation mentioned in [a comment](https://github.com/HarshKapadia2/git_basics/issues/6#issuecomment-660176796) of issue #6.
	- Check if there are other ways to build an orphan branch (ie, using the `git branch` command.)

[2021-02-27 12:39] HarshKapadia2 opened #65 "Transparent PWA icon"
- Try to keep the background of the PWA icons transparent.

[2021-02-27 12:42] HarshKapadia2 opened #66 "Correct `alt` attribute of images"
- The alt tags of images are wrong at quite a few places.
- The image sizes have been taken as the `alt` attribute values at quite a few places. Correct the image size and add an `alt` attribute.
- Syntax: `image::file_name.ext[..., alt="value"]`
- [Asciidoctor image syntax documentation](https://docs.asciidoctor.org/asciidoc/latest/macros/images/)

[2021-02-27 20:08] mtwn105 commented on #66
Hi @HarshKapadia2,

I would like to work on this issue.

Please can you assign it to me if no one else is working on this one.

[2021-02-28 06:22] mtwn105 commented on #66
Hi @HarshKapadia2

Opened the PR #67

[2021-02-28 10:35] HarshKapadia2 commented on #66
Solved in PR #67.

[2021-02-28 10:35] #66 closed

[2021-03-23 09:52] HarshKapadia2 commented on #6
- [ ] Add [`git reflog` documentation](https://www.atlassian.com/git/tutorials/rewriting-history/git-reflog)
	- Write about force pushing (Add note: changes history and can cause a lot of problems)

[2021-03-29 12:55] #65 closed

[2021-03-29 12:57] HarshKapadia2 commented on #4
- [ ] [Let any files or folders that start with `_`, `.` or `#` or end with `~` be built.](https://github.community/t/unable-to-access-resources-in-folder-with-name-starting-with/10505)

[2021-04-21 19:16] HarshKapadia2 commented on #64
Issue still persists locally, but is solved for GitHub Actions.

[2021-05-15 13:28] KathaMehta opened #70 "Addition of new commands"
I came across a few git commands which you could add -
- git reflog
- git branch -vv
- git pull -r
- git stash
- git stash list
- git stash apply
- images of git reset and git rebase

![1](https://user-images.githubusercontent.com/79352073/118362884-4830e400-b5af-11eb-8d3a-73b860b45220.jpeg)
![2](https://user-images.githubusercontent.com/79352073/118362886-4cf59800-b5af-11eb-8bdd-0dbe8ac02767.jpeg

[2021-05-16 05:51] HarshKapadia2 commented on #70
Thank you for raising the issue, @KathaMehta!

[2021-05-16 05:53] HarshKapadia2 commented on #6
- [ ] Add commands from issue #70.

[2021-05-22 08:08] HarshKapadia2 opened #71 "Links in code example blocks overflow."
- The links in example code blocks are overflowing on the right side of the page. (The red borders are for debugging. The picture below is from the [git clone sub-section](https://harshkapadia2.github.io/git_basics/#_git_clone) of the web site.)

	<img src="https://user-images.githubusercontent.com/50140864/119218986-a9513e00-bb00-11eb-8ee0-ce7df4149e62.jpeg" width="30%" />

- Behaviour observed i

[2021-05-27 12:43] #71 closed

[2021-06-19 17:05] mihikagaonkar opened #75 "Addition of command to revert the last commit"
You could add the following commands
- git reset --soft HEAD~1 - used to revert the last commit and retain the changes when changes aren't pushed
- git reset --hard HEAD~1 - used to revert the last commit and discard the changes when changes aren't pushed

[2021-06-20 08:07] HarshKapadia2 commented on #10
- [ ] Add #75.

[2021-07-15 12:47] HarshKapadia2 opened #76 "Implement search."
- Add a search feature on the web site.
- I am open to suggestions on the implementation and design.
- Optional reference article: https://medium.com/dev-channel/how-to-add-full-text-search-to-your-website-4e9c80ce2bf4

[2021-07-30 17:44] HarshKapadia2 commented on #6
- [ ] Add `--author="<regular_exp>"` to `git log` ([Ref article](https://www.atlassian.com/git/tutorials/git-log))

[2021-08-12 08:22] HarshKapadia2 opened #77 "Add to the 'Terms' section."
- [ ] Improve the '[.gitignore file](https://harshkapadia2.github.io/git_basics/#_gitignore_file)' sub-section.
	- [ ] Add a code block to the '[Syntax](https://harshkapadia2.github.io/git_basics/#_syntax)' section instead of points.
		- Add the missing syntax from https://riptutorial.com/git/example/885/ignoring-files-and-directories-with-a--gitignore-file
	- [ ] Shift the '[Ignore files locally

[2021-09-09 13:37] #58 closed

[2021-09-10 12:28] shefali12-ab opened #78 "Adding a section for opensource programs in website"
As this website is on git and github so I think there should be one section about various opensource program.

[2021-09-10 13:45] HarshKapadia2 commented on #78
Okay, where do you propose to add this section?

Also, which Open Source programs do you plan to include?

[2021-09-10 15:10] shefali12-ab commented on #78
It can be added at the end of misc section in table of content, or we can create a button along side darkmode section icon ,which will redirect to new page that will tell about opensource programs.
there are many open source programs like MLH Fellowship, Outreachy,GSSOC,SWOC,GSOC etc.

[2021-09-10 15:27] HarshKapadia2 commented on #78
Please add it **before** the 'Resources' sub-section in the 'Misc' section.

A few of them are listed in [deepanshu1422/List-Of-Open-Source-Internships-Programs](https://github.com/deepanshu1422/List-Of-Open-Source-Internships-Programs), so you can include the most famous ones, I guess. DO let me know the list before you go ahead with the contribution.

Also, what details are you going to include

[2021-09-10 16:13] shefali12-ab commented on #78
okay, I will add , a piece of information about the program which includes everything like contribution period, eligibility, timelines, etc. or you can also tell.
is there any discord channel for communication regarding this.

[2021-09-10 16:28] HarshKapadia2 commented on #78
Okay.
Include their official web site (if any) as well.
Go ahead and make your contribution, @shefali12-ab. All the best!
While contributing, please adhere to the file naming conventions and the rules in the [CONTRIBUTING.md](../blob/main/CONTRIBUTING.md) file.

[2021-09-10 16:29] HarshKapadia2 commented on #78
Oh also, do let me know the list of programs you plan to add before you go ahead with the contribution.

[2021-09-10 16:52] shefali12-ab commented on #78
I will add basically these program
Google summer of code, Outreachy,Google Seasons of Docs,MLH Fellowship, Girlscript summer of code. before adding the content I will send it to you.

[2021-09-10 17:00] HarshKapadia2 commented on #78
@KartikSoneji, would you suggest adding/removing any programs?

[2021-09-10 23:49] KartikSoneji commented on #78
I think it will be better to include the Linux Foundation Mentorship programs (https://www.linuxfoundation.org/about/diversity-inclusivity/mentorship/) instead of GirlScript Summer of Code.

So the list would be:
- Google Summer of Code
- Google Summer of Docs
- Outreachy
- MLH Fellowship
- Linux Foundation Mentorship Programs

[2021-09-11 04:40] shefali12-ab commented on #78
okay, thank you I will add it.

[2021-09-11 07:48] HarshKapadia2 commented on #78
Go ahead and contribute, @shefali12-ab!
While contributing, please remember to adhere to the file naming conventions and the rules in the [CONTRIBUTING.md](../blob/main/CONTRIBUTING.md) file.
Thank you!

[2021-09-11 10:33] HarshKapadia2 commented on #78
Which OS are you on?

Also, did you follow the steps listed on the [Asciidoctor installation page](https://asciidoctor.org/#installation)?

[2021-09-11 11:27] shefali12-ab commented on #78
winsows10 and ubuntu (dual os), yes i have installed rubyinstaller after that it was written that (you should set up RVM) what step should I follow to setup.

[2021-09-11 18:36] shefali12-ab commented on #78
see this

[
![WhatsApp Image 2021-09-12 at 00 02 48](https://user-images.githubusercontent.com/56781823/132957887-60883c11-88f3-4101-8def-2c4d644409c3.jpeg)
](url)

[2021-09-12 01:27] KartikSoneji commented on #78
Please use the latest installer from here: https://rubyinstaller.org/downloads/
Direct link: https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-3.0.2-1/rubyinstaller-devkit-3.0.2-1-x64.exe

[2021-09-12 04:17] shefali12-ab commented on #78
okay,Thank you I have installed :))

[2021-09-12 15:22] Viranchee commented on #78
Should we also mention about tradeoffs and interworkings between the internships

Such as, If you do *GSoC* you're not eligible for *Outreachy* by providing links

This information is known to us, but it will help take decisions and properly plan internships for newbies

[2021-09-12 17:24] HarshKapadia2 commented on #78
Okay sure, see if you can add that @shefali12-ab.

Any other information that can be added, @Viranchee?

[2021-09-12 18:46] shefali12-ab commented on #78
Okay sure, Thanks @Viranchee

[2021-09-15 17:19] HarshKapadia2 commented on #78
Any updates @shefali12-ab?

[2021-09-15 17:32] shefali12-ab commented on #78
I am going through documentation of asciidoctor , this week and next week I am having my exams and other things going on , i will update you .

[2021-09-15 17:37] HarshKapadia2 commented on #78
Okay. Please remember that you do not need to go through all the documentation to make your contribution. You can just look for the syntax of whatever you need to build.

[2021-09-15 18:22] shefali12-ab commented on #78
okay sure, Thank you :))

[2021-09-22 06:47] HarshKapadia2 commented on #78
Any update, @shefali12-ab?

[2021-09-25 04:23] HarshKapadia2 commented on #78
@shefali12-ab are you working on this?

[2021-09-25 06:40] shefali12-ab commented on #78
Hello sir, yes I am working on this, this week I was not active due to some
work.

On Sat, Sep 25, 2021, 09:53 Harsh Kapadia ***@***.***> wrote:

[2021-09-25 07:01] HarshKapadia2 commented on #78
Okay.
No need to call me 'sir,' @shefali12-ab! Just use my name to address me.

[2021-09-26 13:02] shefali12-ab commented on #78
okay @HarshKapadia2 i will  update you regarding this issue, in coming week.

[2021-09-26 19:13] HarshKapadia2 commented on #36
Thank you for raising this issue, @aidanhs!
Handled in commit 99426a03c3e18c4a5f1749f7eadf22d4e7d65bd5. Sorry for the delay!
Have a look: https://harshkapadia2.github.io/git_basics/#_the_blob_object
LMK if you feel that there need to be any more improvements.

[2021-09-27 19:47] HarshKapadia2 opened #81 "Add to 'Git Internals' section."
- [ ] [Add `git stash` working.](https://stackoverflow.com/a/46134213/11958552)

[2021-09-27 20:10] HarshKapadia2 commented on #10
- [ ] [Move Your Latest Commits to Another Branch](https://howchoo.com/git/git-move-your-latest-commits-to-another-branch)

[2021-09-28 20:02] aidanhs commented on #36
Looks good!

[2021-09-28 20:02] #36 closed

[2021-09-30 13:32] shefali12-ab commented on #78
- [ ] [](url)
![WhatsApp Image 2021-09-30 at 18 58 21](https://user-images.githubusercontent.com/56781823/135464600-528c3b43-f35a-4e54-b130-95e525e02959.jpeg)
@HarshKapadia2 see this I am adding opensource section here.

[2021-09-30 13:59] HarshKapadia2 commented on #78
Okay. Please name the file `open_source_programs.adoc`.

[2021-09-30 14:26] shefali12-ab commented on #78
![WhatsApp Image 2021-09-30 at 19 53 56](https://user-images.githubusercontent.com/56781823/135474039-76e8a292-6661-40dd-9914-fa055c384571.jpeg)

I am adding these opesource program, in this format see the screenshot, it includes about the program,timeline and official website.

[2021-09-30 16:36] KartikSoneji commented on #78
@shefali12-ab Instead of posting screenshots here, could you please open a [draft pull request](https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests#draft-pull-requests)?
It will be easier for us to review your work and provide feedback.

[2021-09-30 16:43] HarshKapadia2 commented on #78
I agree with @KartikSoneji.
Also, it would be better to use a table, @shefali12-ab.

[2021-09-30 17:10] shefali12-ab commented on #78
okay sure.

[2021-09-30 17:11] shefali12-ab commented on #78
table for??

[2021-09-30 18:04] HarshKapadia2 commented on #78
For the open source programs.

Eg: (note the `<br />` for the new line in the raw format.)

name | timeline | link | remarks
---- | -------- | ---- | -------
Google Summer of Code<br />(GSoC) | applications: march to feb<br />internship: may to oct | gsoc.com | -

[2021-09-30 19:23] shefali12-ab commented on #78
okay got it.

[2021-09-30 19:41] HarshKapadia2 commented on #78
Great.

BTW, you don't need to quote a message you're directly replying to. Quoting makes sense if you're replying to an older message in the conversation or if you're replying to a specific question/sentence/phrase in the previous message.

[2021-10-01 12:03] shefali12-ab commented on #78
okay thanks for the information @HarshKapadia2 ,I have created a draft PR.

[2021-10-12 16:17] HarshKapadia2 commented on #24
@hritik2002 you can take this issue. All the best! Please read the `CONTRIBUTING.md` file thoroughly before starting off.

[2021-10-13 05:34] HarshKapadia2 commented on #6
- [ ] Add the `-A` option to `git commit` and note the difference between `-a` and `-A`.
	- [10 Must Know Git Commands That Almost Nobody Knows](https://blog.webdevsimplified.com/2021-10/advanced-git-commands)

[2021-11-09 21:45] HarshKapadia2 commented on #6
- [ ] Add info about [`git tag`](https://www.atlassian.com/git/tutorials/inspecting-a-repository/git-tag).

[2021-11-18 08:47] HarshKapadia2 commented on #6
- [ ] Add `git add -p`

[2021-11-26 18:52] tusharnankani opened #85 "Add 'Push Empty Git Commits'"
`git commit --allow-empty -m "Empty commit"`

It's like pushing a normal commit, except that you add the `--allow-empty` flag.

Reference: https://catalins.tech/git-empty-commit

[2021-12-08 12:41] HarshKapadia2 commented on #6
- [ ] #85

[2021-12-27 12:50] HarshKapadia2 opened #86 "Add information on Changelogs."
- Section: [Contributor Friendly Repository](https://harshkapadia2.github.io/git_basics/#_contributor_friendly_repository)
- Learn about Changelogs and add that information **in your own words** in `changelog.adoc` in the https://github.com/HarshKapadia2/git_basics/tree/main/src/content/contributor_friendly_repo directory.
	- Make sure to add a reference to the file in the https://github.com/Harsh

[2021-12-27 21:28] HarshKapadia2 opened #87 "Add Asciidoctor Jet references"
Add [_Asciidoctor Jet_](https://github.com/HarshKapadia2/asciidoctor-jet) announcement and update structure and files as per the template.

[2021-12-28 15:20] HarshKapadia2 commented on #87
Handled in commit 2715d3e7673209db55fc850ff9d960f8df9086a6.

[2021-12-28 15:20] #87 closed

[2021-12-28 15:26] HarshKapadia2 opened #88 "Add a black background to the PWA icons."
- Current PWA icons have transparent backgrounds.
- Change the transparent background to a black (`#000000`) background.
- Icons:
	- https://github.com/HarshKapadia2/git_basics/blob/main/src/static/img/icon-192x192.png
	- https://github.com/HarshKapadia2/git_basics/blob/main/src/static/img/icon-512x512.png

[2022-01-07 16:14] MahmoudDawood commented on #85
Sorry I don't get it, is the push empty git commit command not working?

[2022-01-07 16:23] HarshKapadia2 commented on #85
No, this is an issue to add the empty commit option to the [`git commit` command options](https://harshkapadia2.github.io/git_basics/#_optionsflags_7) in git_basics.

[2022-01-07 18:03] MahmoudDawood commented on #85
I've tried to solve the issue as my first one ever and made a pull request, Could you review it and tell me if all is good?

[2022-01-09 14:17] HarshKapadia2 commented on #81
- [ ] Add about empty commits

[2022-01-12 08:21] #85 closed

[2022-01-21 07:41] HarshKapadia2 opened #93 "Articles to be read."
- [ ] [Git from the inside out](https://maryrosecook.com/blog/post/git-from-the-inside-out)
- [ ] [Unpacking Git packfiles](https://codewords.recurse.com/issues/three/unpacking-git-packfiles)
- [ ] [git - 1337 edition - I](https://karngyan.com/blog/git-1337-edition-1) and [git - 1337 edition - II](https://karngyan.com/blog/git-1337-edition-2)

[2022-01-22 04:30] HarshKapadia2 commented on #81
- [ ] Info on patches ([Twitter Thread](https://twitter.com/ethomson/status/1481730053859860482?t=iiU2jvbHBdmnIQh9_OcW7A&s=19)) and how they're applied.

[2022-01-28 13:22] HarshKapadia2 commented on #81
- [ ]  Explore the `.git/objects/info` directory.

[2022-01-28 19:22] HarshKapadia2 commented on #93
- [ ] [Multi Pack Index (MIDX) files](https://www.git-scm.com/docs/multi-pack-index)

[2022-01-28 22:12] #88 closed

[2022-02-09 21:34] HarshKapadia2 opened #94 "Merge conflicts"
- - [ ] Add basic merge conflict handling in the [Merge Conflicts section](https://harshkapadia2.github.io/git_basics/#_merge_conflicts).
- During a merge conflict, `git status -s` gives output `UU` (both in red) for files that are conflicted.
	- What is the meaning?
	- - [ ] Add it to the [`-s or --short` flag](https://harshkapadia2.github.io/git_basics/#_s_or_short).
- [Resolving a Git conflict

[2022-02-09 21:35] HarshKapadia2 commented on #6
- Merge conflicts: #94

[2022-02-09 22:01] HarshKapadia2 commented on #81
This issue has been shifted to multiple issues in https://github.com/HarshKapadia2/git_internals/issues.

[2022-02-09 22:03] #81 closed